header {
  background-color: #000000;
  text-align: center;
  padding-bottom: 1rem;
}

section {
  text-align: center;
}

h1 {
  color: #FFFFFF;
  margin: 0;
}

h3 {
  margin: 2rem 0;
  font-weight: bold;
}

h4 {
  margin: 2rem 0;
  color: #000000;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
}

.navlink {
  border: solid #FFFFFF thin;
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #000000;
  text-decoration: none;
  font-size: x-large;
  padding: 0 1rem; 
}

.navlink:hover {
  color: #000000;
}

li {
  margin: 0;
}

.two.columns {
  display: none;
  height: 1rem;
}

.classinfo {
  display: none;
  padding-top: 1rem;
}

.contacticon {
  width: 10%;
  padding-top: 1rem;
}

.contactinfo {
  display: inline;
  padding: 0 1rem;
}

p {
  text-align: left;
  padding: 0 4%;
}

@media screen and (min-width:550px){
  li {
    display: inline;
  }
  a {
    font-size: medium;
  }
  .two.columns {
    display: initial;
  }
  .classinfo {
    display: initial;
  }
  .contacticon {
    width: 4%;
  }
  .navlink {
    border: none;
    background-color: #000000;
    color: #FFFFFF;
    text-decoration: underline;
    font-size: medium;
  }
  .navlink:hover {
    color: #808080;
  }
  p {
    padding: 0;
  }
}

img {
  width: 30%;
}

article {
  border-top: medium solid #000000;
  padding-bottom: 2rem;
}

footer {
  text-align: center;
  background-color: #000000;
}

footer, header {
  padding: 1rem 0;
}

.footinfo {
  color: #FFFFFF;
  font-size: medium;
  padding: 0 1rem;
}

.footinfo:hover {
  color: #FFFFFF;
}

.bloglink {
  color: #000000;
  text-decoration: none;
}

.bloghover:hover {
  color: #808080;
  opacity: 0.4;
}

h6 {
  font-size: large;
}

.blogimg {
  display: block;
  margin: 0 auto;
  width: 70%
}

.bodylink {
  color: #000000;
  font-size: 1em;
}

.bodylink:hover {
  color: #808080;
}