
header {
  background-color: #000000;
  text-align: center;
  padding-bottom: 1rem;
}

section {
  text-align: center;
}

h1 {
  color: #FFFFFF;
  margin: 0;
}

h3 {
  margin: 1rem 0;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: x-large;
  padding: 0 1rem; 
}

a:hover {
  color: #808080;
}

li {
  margin: 0;
}

// .six.columns {
//   background-color: green;
// }

.three.columns {
  display: none;
  height: 1rem;
}

@media screen and (min-width:550px){
  li {
    display: inline;
  }
  a {
    font-size: medium;
  }
  .three.columns {
    display: initial;
  }
}



img {
  width: 50%;
}

article {
  border-top: medium solid grey;
}

footer {
  text-align: center;
  background-color: red;
}



